[Unit]
Description=Commento daemon service
After=network.target postgresql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=COMMENTO_CONFIG_FILE=__FINALPATH__/commento.env
ExecStart=__FINALPATH__/commento

[Install]
WantedBy=multi-user.target
